/* Global Layout Set-up */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: #2d3945;
  font-family: "Mulish", sans-serif;
}

/* Section Styles */
header {
  background-size: cover;
  background-image: url("../images/chiss.png");
}

h1 {
  margin: 0 auto;
  padding: 1.5rem 0;
  color: #fff;
  font-family: "Merriweather", serif;
  letter-spacing: 0.03rem;
  font-size: 1.25rem;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 1px 1px 0 #093db3;
}

.form-description {
  margin: 2rem 1rem 0;
  padding-bottom: 2rem;
  border-bottom: solid 0.3rem #ffc740;
}

.form-description h2 {
  margin: 0 auto;
  color: #2d3945;
  font-family: "Merriweather", serif;
  font-size: 1.25rem;
  font-weight: 900;
  text-align: center;
  color: #093db3;
}

.form-description p {
  text-align: center;
  color: #7a7a7a;
}

form {
  margin: 0.2rem 1rem 1rem;
  border-top: solid 0.15rem #ffc740;
}

fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

.contact-information legend {
  margin: 0 0 1.25rem;
  padding: 1.5rem 0 0;
  color: #093db3;
  font-family: "Merriweather", serif;
  font-size: 1.25rem;
  font-weight: 900;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 0.65rem;
  font-size: 1rem;
}

input:focus,
select:focus,
textarea:focus {
  outline: 2px solid #ffc740;
}

.contact-information input {
  margin-bottom: 1rem;
  padding: 1rem 0.5rem;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #eff0f1;
}

input:focus,
select:focus,
textarea:focus {
  border: none;
  outline: none;
  border-radius: 2px;
  box-shadow: 0 0 5px 3px #ffc740;
  background-color: #fff6e3;
  transition: 0.2s;
}

input[type="checkbox"]:focus,
input[type="radio"]:focus {
  box-shadow: none;
  outline: 3px dotted #ffc740;
}

/* Chrome/Opera/Safari */
input[id="name"]::-webkit-input-placeholder,
input[id="email"]::-webkit-input-placeholder {
  margin-right: 0.5rem;
  padding: 0;
  font-size: 0.8rem;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
  text-align: right;
  color: #999999;
}

input[id="phone"]::-webkit-input-placeholder,
input[id="address"]::-webkit-input-placeholder,
input[id="city"]::-webkit-input-placeholder,
input[id="zipcode"]::-webkit-input-placeholder {
  margin: 0;
  font-size: 0.8rem;
  font-family: "Merriweather", serif;
  font-weight: 400;
  text-align: left;
  color: #999999;
}

/* Firefox 19+ */
input[id="name"]::-moz-placeholder,
input[id="email"]::-moz-placeholder {
  margin-right: 0.5rem;
  padding: 0;
  font-size: 0.8rem;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
  text-align: right;
  color: #999999;
}

input[id="phone"]::-moz-placeholder,
input[id="address"]::-moz-placeholder,
input[id="city"]::-moz-placeholder,
input[id="zipcode"]::-moz-placeholder {
  margin: 0;
  font-size: 0.8rem;
  font-family: "Merriweather", serif;
  font-weight: 400;
  text-align: left;
  color: #999999;
}

/* Edge */
input[id="name"]::-ms-input-placeholder,
input[id="email"]::-ms-input-placeholder {
  margin-right: 0.5rem;
  padding: 0;
  font-size: 0.8rem;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
  text-align: right;
  color: #999999;
}

input[id="phone"]::-ms-input-placeholder,
input[id="address"]::-ms-input-placeholder,
input[id="city"]::-ms-input-placeholder,
input[id="zipcode"]::-ms-input-placeholder {
  margin: 0;
  font-size: 0.8rem;
  font-family: "Merriweather", serif;
  font-weight: 400;
  text-align: left;
  color: #999999;
}

/* IE 10+ */
input[id="name"]:-ms-input-placeholder,
input[id="email"]:-ms-input-placeholder {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
  text-align: right;
  color: #999999;
}

input[id="phone"]:-ms-input-placeholder,
input[id="address"]:-ms-input-placeholder,
input[id="city"]:-ms-input-placeholder,
input[id="zipcode"]:-ms-input-placeholder {
  margin: 0;
  font-size: 0.8rem;
  font-family: "Merriweather", serif;
  font-weight: 400;
  text-align: left;
  color: #999999;
}

select,
select:invalid {
  margin-bottom: 1rem;
  padding: 1rem 0.5rem;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #eff0f1;
  appearance: none;
  background-image: url("../images/sort-solid.svg");
  background-repeat: no-repeat;
  background-position: right 0.7rem top 50%, 0 0;
  background-size: 0.55rem auto, 100%;
}

select:invalid {
  color: #999999;
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: italic;
}

option {
  color: #2d3945;
  font-family: "Mulish", sans-serif;
  font-style: normal;
}

#zipcode {
  margin-bottom: 2rem;
  width: 50%;
}

.newsletter {
  border-top: solid 0.15rem #ffc740;
}

.newsletter h2 {
  margin: 0 0 1.25rem;
  padding-top: 1.5rem;
  color: #093db3;
  font-family: "Merriweather", serif;
  font-size: 1.25rem;
  font-weight: 900;
  text-align: left;
}

.newsletter-container {
  margin: 0 0.25rem;
}

.newsletter label.label-description {
  margin: 1rem 0;
}

label[for="soft_cheeses"],
label[for="semisoft_cheeses"],
label[for="hard_cheeses"],
label[for="user_newsletter"],
label[for="hourly"],
label[for="minute_by_minute"] {
  display: inline;
  margin-left: 1rem;
  margin-bottom: 1rem;
}

input[type="checkbox"],
input[type="radio"] {
  margin: 0 0 1rem;
}

textarea {
  margin-bottom: 1rem;
  padding: 0.5rem 0.5rem 4rem;
  resize: none;
  width: 100%;
  border: none;
  border-radius: 5px;
  background-color: #eff0f1;
}

button {
  margin: 0.75rem auto;
  padding: 1rem 2rem;
  width: 100%;
  border-radius: 5px;
  border: none;
  color: #fff;
  background-color: #ffca4f;
  font-family: "Merriweather", serif;
  font-size: 1.15rem;
  font-weight: 700;
  text-shadow: 1px 1px 0 #093db3;
}

button:hover {
  background-color: #ffc740;
  box-shadow: inset 0 0 10px #cc9e33;
  text-shadow: none;
  transition: 0.3s;
}

button:focus {
  outline: none;
  box-shadow: inset 0 0 10px #cc9e33;
  transition: 0.3s;
}

footer {
  margin-bottom: 7rem;
}

footer p {
  color: #8f8f8f;
  font-size: 0.9rem;
  font-style: italic;
  text-align: center;
  text-emphasis: initial;
}

/* Styles for larger screens */
@media (min-width: 768px) {
  header {
    background-size: contain;
  }

  h1 {
    padding: 0.9rem 0;
    font-size: 0.75rem;
    font-weight: 400;
  }

  .form-description {
    margin: 2.5rem auto 0;
    padding-bottom: 1.5rem;
    width: 50vw;
    max-width: 768px;
    border-bottom: solid 0.2rem #2d3945;
  }

  .form-description h2 {
    font-size: 1rem;
    font-weight: 900;
  }

  .form-description p {
    margin: 0.25rem 0;
    font-size: 0.7rem;
  }

  form {
    margin: 0.1rem auto 1rem;
    width: 50vw;
    max-width: 768px;
    border-top: solid 0.1rem #2d3945;
  }

  .contact-information legend,
  .newsletter h2 {
    margin: 0 0 0.2rem;
    padding: 1.75rem 0 0;
    font-size: 0.8rem;
  }

  .input-container {
    display: flex;
    justify-content: space-between;
    margin: 0.8rem 0;
  }

  label {
    margin: auto 0;
    font-size: 0.7rem;
    white-space: nowrap;
  }

  select {
    background-size: 0.45rem auto, 100%;
  }

  .contact-information input,
  select,
  select:invalid {
    margin: 0;
    padding: 0.55rem 0.5rem;
    width: 76%;
    border-radius: 3px;
  }

  select:invalid {
    font-size: 0.6rem;
  }

  .zipcode-container {
    justify-content: space-between;
    margin-bottom: 2rem;
  }

  #zipcode {
    margin: 0;
    margin-right: 48%;
    width: 28%;
  }

  /* Chrome/Opera/Safari */
  input[id="name"]::-webkit-input-placeholder,
  input[id="email"]::-webkit-input-placeholder {
    font-size: 0.6rem;
  }

  input[id="phone"]::-webkit-input-placeholder,
  input[id="address"]::-webkit-input-placeholder,
  input[id="city"]::-webkit-input-placeholder,
  input[id="zipcode"]::-webkit-input-placeholder {
    font-size: 0.6rem;
  }

  /* Firefox 19+ */
  input[id="name"]::-moz-placeholder,
  input[id="email"]::-moz-placeholder {
    font-size: 0.6rem;
  }

  input[id="phone"]::-moz-placeholder,
  input[id="address"]::-moz-placeholder,
  input[id="city"]::-moz-placeholder,
  input[id="zipcode"]::-moz-placeholder {
    font-size: 0.6rem;
  }

  /* Edge */
  input[id="name"]::-ms-input-placeholder,
  input[id="email"]::-ms-input-placeholder {
    font-size: 0.6rem;
  }

  input[id="phone"]::-ms-input-placeholder,
  input[id="address"]::-ms-input-placeholder,
  input[id="city"]::-ms-input-placeholder,
  input[id="zipcode"]::-ms-input-placeholder {
    font-size: 0.6rem;
  }

  .newsletter-container {
    margin: 0;
  }
  .newsletter h2 {
    margin-bottom: 1rem;
  }
  .newsletter label.label-description {
    margin-bottom: 0.5rem;
  }

  label[for="soft_cheeses"],
  label[for="semisoft_cheeses"],
  label[for="hard_cheeses"],
  label[for="user_newsletter"],
  label[for="hourly"],
  label[for="minute_by_minute"] {
    margin: 0 0 1rem 0.5rem;
  }

  input[type="checkbox"],
  input[type="radio"] {
    margin: 0 0 0.5rem;
    transform: scale(0.8);
    border-radius: 3px;
  }
  .checkbox-container {
    display: flex;
    justify-content: left;
    align-items: center;
  }

  .newsletter label.label-description {
    margin-top: 0.8rem;
  }

  textarea {
    padding: 0.5rem 0.5rem 2rem;
    border-radius: 3px;
  }

  button {
    margin: 0 auto;
    padding: 0.75rem 2rem;
    border-radius: 3px;
    font-size: 0.75rem;
  }

  footer {
    margin-top: 1.3rem;
    margin-bottom: 12rem;
  }

  footer p {
    font-size: 0.6rem;
  }
}
